h1 {
	color: #424242;
}

div.nintendo {
	background-color: #00BCD4;
	padding: 30px;
        font-family: arial;
        font-size: 21px;
        color: #e74c3c;
        line-height: 25px;
        border-radius: 25px;
        border: 20px;
}

div.playstation {
	background-color: #3F51B5;
        padding: 25px;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 15px;
        color: #9b59b6;
        line-height: 20px;
        border-radius: 50px;
}

div.atari {
	background-color: #607D8B;
        padding: 20px;
        font-family: "Courier New", Courier, monospace;
        font-size: 15px;
        color: #2ecc71;
        line-height: 15px;
        border-radius: 100px;
}
